<form method="post" action="{% url 'users:change_password' %}">
    {% csrf_token %}
    {% if error %}
        <p>ERROR: {{ error }}</p>
    {% endif %}
    <label for="old_password">Old Passord:</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" id="new_password" required>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
    <button type="submit">Submit</button>
</form>